@charset "UTF-8";


    * {
        margin: 0px;
        padding: 0px;
    }
    
    body {
        background-image: linear-gradient(-45deg, #7587bf, #a2cdf2,#465973);
        background-attachment: fixed;
    }
    
    header {
        background-color: #375172;
    }
    
    header > h1 {
        text-align: center;
        color: #9ECAF7;
    }
    
    main > section {
      margin-left:315px;
      margin-top: 50px;
      
    }
    
    .cards {
        perspective: 900px;
    }
    
    .card {
        width: 400px;
        height: 450px;
        background: url(./imagens/familia1.jfif) center no-repeat;
        background-size: cover;
        border: 2px solid #375172;
        border-radius: 10px;
        position: relative ;
        transform-style: preserve-3d;
        will-change: transform;
        transition: transform .5s;
    }
    
    .card:hover {
        transform: translateZ(10px) rotatex(20deg) rotateY(30deg);
    }
    
    .card-title {
        font-size: 30px;
        font-weight: bolder;
        color: #870530;
        position: absolute;
        top: 80%;
        right: 25px;
        transform: translateY(-50%);
        transition: transform .5s;
    }
    
    .card:hover .card-title {
        transform: translateZ(50px);
    }
    
    footer {
         background-color: #375172; ;
        text-align: center;
        color: #9ECAF7;
        margin-top: 30px;
        padding: 5px;
    }


