@charset "UTF-8";

@media screen and (min-width: 768px) {
    span#burguer {
        display: none;
    }

    body {
        background-image: url(../imagens/tec1.jpeg.jpg);
        background-attachment: fixed;
        background-position: center center ;
    }

    menu {
        display: block;
        background-color: white;
        height: 120px;
    }

    menu > ul > li {
        display: inline-block;
        margin: 20px;
        background-color: white;
    }

    menu > ul > li > a {
        border: none;
        background-color: white;
        padding-top: 5px;
    }

    header {
        background-image: url(../imagens/tec2.jpeg.jpg);
        background-attachment: fixed;
        background-position: center center ;
    }

    header > h1 {
        color: white;
    }

    header > h5 {
        color: white;
    }

    img#al {
        width: 200px;
        margin: auto;
        padding: 10px;
        box-shadow: 2px 2px 2px white;
    
    }

    main {
        width: 768px;
        background-color: white;
    }

    menu > ul > li > a:hover {
        background-color: black;
        border-radius: 50px;
    }

    h1 {
        padding: 18px 30px;
        border: none;
        position: relative;
        cursor: pointer;
        box-sizing: border-box;
        overflow: hidden;
        background: black;
        border-radius: 5px;
        min-width: 200px;
        color: #fff;
        z-index: 0;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: all 0.5s;
        font-weight: 600;
    }
    
    h1::before{
        content: '';
        position: absolute;
        display: block;
        top: 0;
        left: -50px;
        width: 70%;
        height: 100%;
        background: linear-gradient(-90deg, transparent, #aed3f2, transparent);
        transition: all .5s;
        z-index: -10;
        transform: translateX(-150px) skew(-50deg);
    }
    
    h1:hover::before{
        transform: translateX(800px) skew(-80deg);
    }

    footer {
        background-color: #fff;
    }
    
}
 